html {
	cursor: url('cursor/mainc.png'), auto;	
}

body {
	margin:0;
	padding:0;
}

/* CONTAINERS */

.inner-body {
	display:flex;
	justify-content:center;
	position:relative;
	background:url("maps/etc/prt.jpg")no-repeat fixed center;
	background-size:cover;
	height:1200px;
}

.section-container-1 {
	width:auto;height:auto;
	position:absolute;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin-top:50px;
	background:pink;
	margin-bottom:25px;
	background:url("maps/etc/prtx.jpg")no-repeat center;
	background-size:cover;

}

.section-container-2 {
	width:auto;height:auto;
	position:absolute;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	margin-top:50px;
	background:green;
	margin-bottom:25px;
	background:url("maps/etc/dungeon.png")no-repeat right center;
	background-size:cover;
	display:none;
}

.section {
	display:flex;
	width:100%;height:60px;
}
/* CONTAINERS */

/* STANDARD ELEMENTS */
.maps {
	width:56px;height:56px;
	margin:2px;
	position:relative;
	background: #222222;
}

.portal-right:before {
	content:'';
    width:4px;height:10px;
    background:#222;
    position:absolute;
    right:-4px;
    top:23px;
}

.portal-bottom:after {
	content:'';
    width:10px;height:4px;
    background:#222;
    position:absolute;
    bottom:-4px;left:23px;
}

.portal-bl:before {
	content:'';
    width:10px;height:4px;
    background:#222;
    position:absolute;
    bottom:-4px;left:8px;
}

.portal-br:after {
	content:'';
    width:10px;height:4px;
    background:#222;
    position:absolute;
    bottom:-4px;right:8px;
}

.portal-angle:before {
	content:'';
    width:10px;height:4px;
    background:#222;
    position:absolute;
    bottom:-4px;right:-7px;
	transform:rotate(45deg);
}

.overlay {
	width:56px;height:56px;
	position:relative;
	background:rgba(255,0,0,0);
	display:flex;
	flex-direction:column;
	align-items:space-around;
	justify-content:space-between;
}

.overlay:hover{
	box-shadow:0 0 15px yellow inset;
	cursor: url('cursor/qmc.png'), auto;
}

		.overlay:hover .tooltip {
			display:block;
		}

a {
	text-decoration:none;
	cursor: url('cursor/linkc.png'), auto;
	text-shadow: 0px 0px 4px #000, 0px 0px 3px #000, 0px 0px 2px #000, 0px 0px 1px #000;
}
a:active {cursor: url('cursor/activec.png'), auto;}

.a-icon {
	text-shadow: none;
}
.a-icon:active {
	color:#000;
}

.castle-name {
	font-family:sans-serif;
	font-size:12px;
	text-align:center;
	color:#ff00ff;
	margin:2px 0 0 0;
}

.castle-name-small {
	font-family:sans-serif;
	font-size:10px;
	text-align:center;
	color:#ff00ff;
	margin:2px 0 0 0;
}

.town-name {
	font-family:sans-serif;
	font-size:12px;
	text-align:center;
	color:yellow;
	margin:2px 0 0 0;
}
.field-name-small {
	font-family:sans-serif;
	text-align:center;
	font-size:10px;
	color:white;
	margin:2px 0 0 0;
}

.field-name {
	font-family:sans-serif;
	text-align:center;
	font-size:11px;
	color:white;
	margin:2px 0 0 0;
}

.tooltip-text {
	font-family:sans-serif;
	text-align:left;
	font-size:12px;
	padding:0 0 0 3px;
	margin:0;
	cursor: url('cursor/linkc.png'), auto;
}

.tooltip-text-search {
	font-family:sans-serif;
	text-align:left;
	font-size:12px;
	padding:0 0 0 3px;
	margin:0;
}

.tooltip-text:hover {background:#ffe4b3;}
.tooltip-text:active {cursor: url('cursor/activec.png'), auto;}

/* STANDARD ELEMENTS */

/* MAP INDICATORS */
.map-indicators {
	display:flex;
	justify-content:space-around;
	margin-bottom:5px;
}

.boss-icon {
	width:10px;height:10px;
    border-radius:50%;
    background:linear-gradient(white 1%, red 70%, white 110%);
    position:relative;
	cursor: url('cursor/qmc.png'), auto;
}
		.boss-icon:hover .tooltip {
			display:block;
		}
		.boss-icon:active {cursor: url('cursor/activec.png'), auto;}
		
.miniboss-icon {
	width:10px;height:10px;
    border-radius:50%;
    background:linear-gradient(white 1%, pink 70%, white 110%);
    position:relative;
	cursor: url('cursor/qmc.png'), auto;
}
		.miniboss-icon:hover .tooltip {
			display:block;
		}
		.miniboss-icon:active {cursor: url('cursor/activec.png'), auto;}

.dungeon-icon {
	width:10px;height:10px;
    border-radius:50%;
    background:linear-gradient(white 1%, blue 70%, white 110%);
    position:relative;
	cursor: url('cursor/qmc.png'), auto;
}
		.dungeon-icon:hover .tooltip {
			display:block;
		}
		.dungeon-icon:active {cursor: url('cursor/activec.png'), auto;}
		
@keyframes blink {
	from {box-shadow:0 0 50px cyan inset;}
    to {box-shadow:0 0 50px transparent inset;}
}
/* MAP INDICATORS */

/* TOOLTIPS */
.tooltip {
	width:115px;
    display:none;
    z-index:1;
    position:absolute;
    left:50px;top:50px;
}

.tooltip-fixed {
	width:auto;height:auto;
    display:block;
	position:fixed;
    left:5px;top:5px;
	z-index:1;
}

.tooltip-header {
	width:100%;height:15px;
    background:linear-gradient(white 1%, #adc1eb 20%, white 110%);
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border:1px solid #adc1eb;
	display:flex;
	align-items:center;
	position:relative;
}
	.header-icon {
		display:inline-block;
		width:8px;height:8px;
		border:1px solid #4673d2;
		border-radius:50%;
		margin-left:2px;
		background:linear-gradient(white 1%, rgb(91, 130, 215) 70%, white 110%);
	}

.tooltip-body {
	border:1px solid gray;
	border-top:1px solid transparent;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
    width:100%;height:auto;
    background:white;
	text-align:center;
}

.bgred {background:rgb(255, 128, 128)}
.bgpink {background:rgb(255, 204, 213)}
.bgblue {background:rgb(204, 204, 255);text-align:center;}
.bgviolet {background:#ffb3ff}
hr {margin:0}

.center {
	text-align:center;
	margin:0;
}

.margin-left-5 {margin-left:5px;}
.margin-bottom-5 {margin-bottom:5px;}
.margin-5 {margin:5px;}
/* TOOLTIPS */

/* SEARCH */
#inputValue {
	animation: search 1s linear infinite alternate;
}

	@keyframes search {
		from {box-shadow: 0 0 7px transparent}
		to {box-shadow: 0 0 10px yellow}
	}
	
#inputValue:focus {
	animation:none;
	box-shadow: 0 0 12px #99ccff;
}

.flex-column {
	display:flex;
	flex-direction:column;
	border-top:gray
}
iframe {
	border:none;
}

input {
	border:1px solid gray;
	width:90%;
	display:block;
	margin:auto;
	margin-top:5px;
	margin-bottom:5px;
}

.button {
	background:linear-gradient(white 1%, rgb(217, 217, 217) 80%, white 110%);
	border:1px solid #bbbbbb;
	border-radius:7px;
	padding:2px 5px;
	cursor: url('cursor/linkc.png'), auto;
	color:#3c3c3c;
	width:150px;
	display:block;
	margin:auto;
	margin-bottom:5px;
}

.button:hover {
	background:linear-gradient(white 1%, rgb(173, 193, 235) 20%, white 110%);
	box-shadow:0 0 8px #809fff;
}

.button:active {
	cursor: url('cursor/activec.png'), auto;
}
/* SEARCH */

/* OTHER CODES */
.center {text-align:center;}

	/* MAP INDENTS */
	.indent-top {margin-top: 32px;}
	.indent-top2 {margin-top: 62px;}
	.indent-half {margin-left: 32px;}
	.indent-one {margin-left:62px}
	.indent-1p5 {margin-left: 92px;}
	.indent-2maps {margin-left: 122px;}
	.indent-2p5 {margin-left: 152px;}
	.indent-3maps {margin-left: 182px;}
	.indent-3p5 {margin-left: 212px;}
	.indent-4maps {margin-left: 242px;}
	.indent-4p5 {margin-left: 272px;}
	.indent-5maps {margin-left: 302px;}
	.indent-5p5 {margin-left: 332px;}
	.indent-6maps {margin-left: 362px;}
	.indent-7maps {margin-left: 422px;}
	.indent-8maps {margin-left: 482px;}
	.indent-10maps {margin-left: 602px;}
	.indent-11maps {margin-left: 662px;}
	/* MAP INDENTS */
/* OTHER CODES */

/* MAPS REQUEST */
.yuno{background-image: url(maps/56px/yuno.png);}
.yuno_fild06{background-image: url(maps/56px/yuno_fild06.png);}

.ein_fild01{background-image: url(maps/56px/ein_fild01.png);}
.yuno_fild04{background-image: url(maps/56px/yuno_fild04.png);}
.yuno_fild03{background-image: url(maps/56px/yuno_fild03.png);}
.yuno_fild02{background-image: url(maps/56px/yuno_fild02.png);}

.ein_fild03{background-image: url(maps/56px/ein_fild03.png);}
.ein_fild04{background-image: url(maps/56px/ein_fild04.png);}
.ein_fild05{background-image: url(maps/56px/ein_fild05.png);}
.ein_fild06{background-image: url(maps/56px/ein_fild06.png);}
.yuno_fild07{background-image: url(maps/56px/yuno_fild07.png);}
.yuno_fild08{background-image: url(maps/56px/yuno_fild08.png);}
.yuno_fild09{background-image: url(maps/56px/yuno_fild09.png);}

.lhz_fild01{background-image: url(maps/56px/lhz_fild01.png);}
.lhz_fild02{background-image: url(maps/56px/lhz_fild02.png);}
.einbroch{background-image: url(maps/56px/einbroch.png);}
.einbech{background-image: url(maps/56px/einbech.png);}
.ein_fild07{background-image: url(maps/56px/ein_fild07.png);}
.yuno_fild11{background-image: url(maps/56px/yuno_fild11.png);}
.yuno_fild12{background-image: url(maps/56px/yuno_fild12.png);}
.yuno_fild01{background-image: url(maps/56px/yuno_fild01.png);}
.xmas{background-image: url(maps/56px/xmas.png);}
.ama_fild01{background-image: url(maps/56px/ama_fild01.png);}
.gonryun{background-image: url(maps/56px/gonryun.png);}
.louyang{background-image: url(maps/56px/louyang.png);}

.lighthalzen{background-image: url(maps/56px/lighthalzen.png);}
.lhz_fild03{background-image: url(maps/56px/lhz_fild03.png);}
.ein_fild08{background-image: url(maps/56px/ein_fild08.png);}
.ein_fild09{background-image: url(maps/56px/ein_fild09.png);}
.alde_gld{background-image: url(maps/56px/alde_gld.png);}
.aldebaran{background-image: url(maps/56px/aldebaran.png);}
.xmas_fild01{background-image: url(maps/56px/xmas_fild01.png);}
.amatsu{background-image: url(maps/56px/amatsu.png);}
.gon_fild01{background-image: url(maps/56px/gon_fild01.png);}
.lou_fild01{background-image: url(maps/56px/lou_fild01.png);}

.mjolnir_12{background-image: url(maps/56px/mjolnir_12.png);}
.ayothaya{background-image: url(maps/56px/ayothaya.png);}
.ayo_fild01{background-image: url(maps/56px/ayo_fild01.png);}
.ayo_fild02{background-image: url(maps/56px/ayo_fild02.png);}

.mjolnir_01{background-image: url(maps/56px/mjolnir_01.png);}
.mjolnir_02{background-image: url(maps/56px/mjolnir_02.png);}
.mjolnir_03{background-image: url(maps/56px/mjolnir_03.png);}
.mjolnir_04{background-image: url(maps/56px/mjolnir_04.png);}
.mjolnir_05{background-image: url(maps/56px/mjolnir_05.png);}

.glast_01{background-image: url(maps/56px/glast_01.png);}
.gef_fild06{background-image: url(maps/56px/gef_fild06.png);}
.gef_fild05{background-image: url(maps/56px/gef_fild05.png);}
.gef_fild04{background-image: url(maps/56px/gef_fild04.png);}
.mjolnir_06{background-image: url(maps/56px/mjolnir_06.png);}
.mjolnir_07{background-image: url(maps/56px/mjolnir_07.png);}
.mjolnir_08{background-image: url(maps/56px/mjolnir_08.png);}
.mjolnir_10{background-image: url(maps/56px/mjolnir_10.png);}
.mjolnir_11{background-image: url(maps/56px/mjolnir_11.png);}

.nif_fild01{background-image: url(maps/56px/nif_fild01.png);}
.nif_fild02{background-image: url(maps/56px/nif_fild02.png);}
.niflheim{background-image: url(maps/56px/niflheim.png);}
.gef_fild08{background-image: url(maps/56px/gef_fild08.png);}
.gef_fild07{background-image: url(maps/56px/gef_fild07.png);}
.geffen{background-image: url(maps/56px/geffen.png);}
.gef_fild00{background-image: url(maps/56px/gef_fild00.png);}
.prt_fild00{background-image: url(maps/56px/prt_fild00.png);}
.mjolnir_09{background-image: url(maps/56px/mjolnir_09.png);}
.prt_fild01{background-image: url(maps/56px/prt_fild01.png);}
.prt_fild02{background-image: url(maps/56px/prt_fild02.png);}
.prt_fild03{background-image: url(maps/56px/prt_fild03.png);}
.prt_monk{background-image: url(maps/56px/prt_monk.png);}

.prt_gld{background-image: url(maps/56px/prt_gld.png);}

.gef_fild12{background-image: url(maps/56px/gef_fild12.png);}
.gef_fild13{background-image: url(maps/56px/gef_fild13.png);}
.gef_fild09{background-image: url(maps/56px/gef_fild09.png);}
.gef_fild01{background-image: url(maps/56px/gef_fild01.png);}
.prt_fild04{background-image: url(maps/56px/prt_fild04.png);}
.prt_fild05{background-image: url(maps/56px/prt_fild05.png);}
.prontera{background-image: url(maps/56px/prontera.png);}
.prt_fild06{background-image: url(maps/56px/prt_fild06.png);}
.izlu2dun{background-image: url(maps/56px/izlu2dun.png);}

.umbala{background-image: url(maps/56px/umbala.png);}
.gef_fild14{background-image: url(maps/56px/gef_fild14.png);}
.gef_fild10{background-image: url(maps/56px/gef_fild10.png);}
.gef_fild03{background-image: url(maps/56px/gef_fild03.png);}
.gef_fild02{background-image: url(maps/56px/gef_fild02.png);}
.prt_fild07{background-image: url(maps/56px/prt_fild07.png);}
.prt_fild08{background-image: url(maps/56px/prt_fild08.png);}
.izlude{background-image: url(maps/56px/izlude.png);}

.um_fild04{background-image: url(maps/56px/um_fild04.png);}
.gef_fild11{background-image: url(maps/56px/gef_fild11.png);}
.prt_fild11{background-image: url(maps/56px/prt_fild11.png);}
.prt_fild10{background-image: url(maps/56px/prt_fild10.png);}
.prt_fild09{background-image: url(maps/56px/prt_fild09.png);}
.moc_fild01{background-image: url(maps/56px/moc_fild01.png);}
.pay_fild04{background-image: url(maps/56px/pay_fild04.png);}
.pay_arche{background-image: url(maps/56px/pay_arche.png);}

.um_fild01{background-image: url(maps/56px/um_fild01.png);}
.um_fild02{background-image: url(maps/56px/um_fild02.png);}
.um_fild03{background-image: url(maps/56px/um_fild03.png);}
.moc_ruins{background-image: url(maps/56px/moc_ruins.png);}
.moc_fild07{background-image: url(maps/56px/moc_fild07.png);}
.moc_fild06{background-image: url(maps/56px/moc_fild06.png);}
.moc_fild05{background-image: url(maps/56px/moc_fild05.png);}
.moc_fild04{background-image: url(maps/56px/moc_fild04.png);}
.moc_fild02{background-image: url(maps/56px/moc_fild02.png);}
.pay_gld{background-image: url(maps/56px/pay_gld.png);}
.payon{background-image: url(maps/56px/payon.png);}
.pay_fild08{background-image: url(maps/56px/pay_fild08.png);}
.pay_fild09{background-image: url(maps/56px/pay_fild09.png);}

.cmd_fild01{background-image: url(maps/56px/cmd_fild01.png);}
.cmd_fild03{background-image: url(maps/56px/cmd_fild03.png);}
.moc_fild19{background-image: url(maps/56px/moc_fild19.png);}
.morocc{background-image: url(maps/56px/morocc.png);}
.moc_fild10{background-image: url(maps/56px/moc_fild10.png);}
.moc_fild09{background-image: url(maps/56px/moc_fild09.png);}
.moc_fild08{background-image: url(maps/56px/moc_fild08.png);}
.moc_fild13{background-image: url(maps/56px/moc_fild13.png);}
.moc_fild03{background-image: url(maps/56px/moc_fild03.png);}
.pay_fild01{background-image: url(maps/56px/pay_fild01.png);}
.pay_fild07{background-image: url(maps/56px/pay_fild07.png);}
.pay_fild10{background-image: url(maps/56px/pay_fild10.png);}
.alb2trea{background-image: url(maps/56px/alb2trea.png);}

.comodo{background-image: url(maps/56px/comodo.png);}
.cmd_fild02{background-image: url(maps/56px/cmd_fild02.png);}
.cmd_fild04{background-image: url(maps/56px/cmd_fild04.png);}
.cmd_fild06{background-image: url(maps/56px/cmd_fild06.png);}
.cmd_fild08{background-image: url(maps/56px/cmd_fild08.png);}
.moc_fild12{background-image: url(maps/56px/moc_fild12.png);}
.moc_fild11{background-image: url(maps/56px/moc_fild11.png);}
.moc_fild15{background-image: url(maps/56px/moc_fild15.png);}
.moc_fild14{background-image: url(maps/56px/moc_fild14.png);}
.pay_fild11{background-image: url(maps/56px/pay_fild11.png);}
.pay_fild02{background-image: url(maps/56px/pay_fild02.png);}
.pay_fild03{background-image: url(maps/56px/pay_fild03.png);}
.alberta{background-image: url(maps/56px/alberta.png);}
.tur_dun01{background-image: url(maps/56px/tur_dun01.png);}

.cmd_fild07{background-image: url(maps/56px/cmd_fild07.png);}
.cmd_fild09{background-image: url(maps/56px/cmd_fild09.png);}
.moc_fild18{background-image: url(maps/56px/moc_fild18.png);}
.moc_fild17{background-image: url(maps/56px/moc_fild17.png);}
.moc_fild16{background-image: url(maps/56px/moc_fild16.png);}
.pay_fild05{background-image: url(maps/56px/pay_fild05.png);}
.pay_fild06{background-image: url(maps/56px/pay_fild06.png);}
/* MAPS REQUEST */

/* DUNGEONS REQUEST */
.alde_dun01{background-image: url(maps/56px/alde_dun01.png);}
.alde_dun02{background-image: url(maps/56px/alde_dun02.png);}
.alde_dun03{background-image: url(maps/56px/alde_dun03.png);}
.alde_dun04{background-image: url(maps/56px/alde_dun04.png);}
/* DUNGEONS REQUEST */